<h3 class="form-header">{{localize "HI.featureSubtypes.horoscope"}}</h3>

<div class="property flexrow">
  <label class="property-label">{{localize "HI.ui.answer"}}</label>
  <select name="system.properties.horoscopeanswer" data-dtype="String">
    {{#select item.system.properties.horoscopeanswer}}
      {{#each config.horoscopeAnswer as |item id|}}
        <option value="{{id}}">{{localize item}}</option>
      {{/each}}
    {{/select}}
  </select>
</div>

<div class="property flexrow">
  <label class="property-label">{{localize "HI.ui.rank"}}</label>
  <input
    class="field-value"
    type="text"
    name="system.properties.rank"
    value={{item.system.properties.rank}}
    data-type="Number"
  />
</div>