<h4><strong>{{localize "HI.chat.alchemytitle" name=alchemy.name}}</strong></h4>
<h4><strong>{{localize
      "HI.chat.alchemypoints"
      pcCostCurrent=pcCostCurrent
    }}</strong></h4>

{{#if isSuccess}}
  {{localize "HI.chat.alchemysuccess"}}
{{else}}
  {{localize "HI.chat.alchemyfailure"}}
{{/if}}