<button
  class="chat-damage-roll bol-margin-tb-2"
  data-damage-mode="normal-damage"
  data-attack-id="{{id}}"
>{{localize "HI.chat.rolldamage"}}</button>

{{#if isCritical}}
  <button
    class="chat-damage-roll bol-margin-tb-2"
    data-damage-mode="damage-plus-6"
    data-attack-id="{{id}}"
  >{{localize "HI.chat.rolldamage6"}}</button>
  <button
    class="chat-damage-roll bol-margin-tb-2"
    data-damage-mode="damage-plus-12"
    data-attack-id="{{id}}"
  >{{localize "HI.chat.rolldamage12"}}</button>
{{/if}}