<img class="chat-icon" src="{{defender.img}}" alt="{{defender.name}}" />
<h3>{{localize "HI.chat.damagesummary" name=name}}</h3>
<ul>
  <li>
    {{#if (eq finalDamage 0)}}
      {{localize "HI.chat.nodamagesummary"}}
    {{else}}
      {{localize "HI.chat.damageresume" name=name}}
    {{/if}}
  </li>
</ul>