<img class="chat-icon" src="{{defender.img}}" alt="{{defender.name}}" />
{{localize "HI.chat.hurttitle" name=defender.name damageTotal=damageTotal}}

{{#if damagesIgnoresArmor}}
  <br />{{localize "HI.chat.armordefault"}}
{{/if}}

<button
  class="damage-handling"
  data-defense-mode="damage-with-armor"
  data-attack-id="{{attackId}}"
>{{localize "HI.chat.witharmor"}}</button>
<button
  class="damage-handling"
  data-defense-mode="damage-without-armor"
  data-attack-id="{{attackId}}"
>{{localize "HI.chat.withoutarmor"}}</button>

{{#if defender.system.resources.hero.value}}
  <button
    class="damage-handling"
    data-defense-mode="hero-reduce-damage"
    data-attack-id="{{attackId}}"
  >{{localize "HI.chat.shakeoff"}}</button>

  {{#each defenderWeapons as |weapon idx|}}
    <button
      class="damage-handling"
      data-defense-mode="hero-in-extremis"
      data-attack-id="{{@root.attackId}}"
      data-weapon-id="{{weapon._id}}"
    >{{localize "HI.chat.splinteredshield" name=weapon.name}}</button>
  {{/each}}

{{/if}}