<img class="chat-icon" src="{{defender.img}}" alt="{{defender.name}}" />
<h3>{{localize "HI.chat.damagesummary" name=name}}</h3>
<ul>
  <li>
    {{#if (eq defenseMode "damage-with-armor")}}
      {{localize "HI.chat.protectvalue"}}
      :
      {{armorProtect}}.
    {{/if}}
    {{#if (eq defenseMode "damage-without-armor")}}
      {{localize "HI.chat.noprotectvalue"}}
    {{/if}}
    {{#if (eq defenseMode "hero-reduce-damage")}}
      {{localize "HI.chat.protectvalue"}}
      :
      {{armorProtect}}.
      {{localize "HI.chat.heroreducedamage" total=rollHero.total}}
    {{/if}}
    {{#if (eq defenseMode "hero-in-extremis")}}
      {{localize "HI.chat.herosplintered" name=weaponHero.name}}
    {{/if}}
  </li>
  <li>
    {{localize "HI.chat.finaldamage" finalDamage=finalDamage}}
  </li>
</ul>