<h4><strong>{{localize "HI.chat.horoscope"}}
    {{localize horoscopeTypeLabel}}</strong></h4>
<h4><strong>{{localize
      "HI.chat.horoscopepoints"
      points=astrologyPointsCost
    }}</strong></h4>

{{#if (eq horoscopeType "minor")}}
  {{#if isSuccess}}
    {{localize "HI.chat.horoscopeminorsuccess"}}
  {{else}}
    {{localize "HI.chat.horoscopeminorfailure"}}
  {{/if}}
{{/if}}

{{#if (eq horoscopeType "major")}}
  {{#if isSuccess}}
    {{localize "HI.chat.horoscopemajorsuccess"}}
  {{else}}
    {{localize "HI.chat.horoscopemajorfailure"}}
  {{/if}}
{{/if}}

{{#if (eq horoscopeType "majorgroup")}}
  {{#if isSuccess}}
    {{localize "HI.chat.horoscopemajorgroupsuccess" careerBonus=careerBonus}}
  {{else}}
    {{localize "HI.chat.horoscopemajorgroupfailure" careerBonus=careerBonus}}
  {{/if}}
{{/if}}