<h4><strong>{{localize "HI.chat.spell"}} : {{spell.name}}</strong></h4>
<h4><strong>{{localize "HI.chat.spellcost"}} : {{ppCost}}</strong></h4>
<h4><strong>{{localize "HI.chat.spellremaining"}}
    :
    {{remainingPP}}</strong></h4>