<div>
  <img class="chat-icon" src="{{weapon.img}}" alt="{{weapon.name}}" />
  <h2 class="bad"><strong>{{localize "HI.chat.rangetitle"}}</strong></h2>
</div>

<div class="flexrow">

  {{localize
    "HI.chat.rangeinfo"
    attackerName=attackerName
    defenderName=defenderName
  }}
  {{#if visible}}
    <br />{{localize "HI.chat.rangevisible"}}
  {{else}}
    <br />{{localize "HI.chat.rangenotvisible"}}
  {{/if}}
  <br />{{localize
    "HI.chat.rangeweaponinfo"
    weaponName=weapon.name
    weaponRange=weaponRange
  }}
  m.
  <br />{{localize "HI.chat.rangeprefix"}}
  {{distance}}
  m.
  <br />{{localize rangeMsg}}

</div>