<div>
  <img class="chat-icon" src="{{img}}" alt="{{name}}"/>
  <h2 class="bad"><strong>{{name}}</strong></h2> 
</div>

<div class="flexrow">
  
  {{localize "BOL.chat.losshp" lossHP=lossHP recupHP=recupHP}}
  <button class="recup-vitalite" data-actor-id="{{actorId}}" data-recup-hp="{{recupHP}}">{{localize "BOL.chat.applyrecup" recupHP=recupHP}}</button>

</div>

