    <div class="flexrow box-roll">
        <div class="flex1 center bg-darkred" >
            <label for="attr">{{localize 'BOL.ui.attribute'}}</label>
        </div>
        <div class="flex1 center cell">
            <select class="flex1" name="attr" id="attr" data-type="String">
                <option value="might" {{#if (equals attribute.key "might")}}selected{{/if}}>{{localize 'BOL.attributes.might'}}</option>
                <option value="daring" {{#if (equals attribute.key "daring")}}selected{{/if}}>{{localize 'BOL.attributes.daring'}}</option>
                <option value="savvy" {{#if (equals attribute.key "savvy")}}selected{{/if}}>{{localize 'BOL.attributes.savvy'}}</option>
                <option value="flair" {{#if (equals attribute.key "flair")}}selected{{/if}}>{{localize 'BOL.attributes.flair'}}</option>
            </select>
        </div>
    </div>
