{{#if isRanged}}
  <div class="flexrow roll-box">
    <div class="flex1 center bg-darkred">
      <label for="modRanged">{{localize "HI.ui.rangeModifiers"}}</label>
    </div>
    <div class="flex1 center cell">
      <select name="modRanged" id="modRanged" value="{{mod}}">
        {{#select modRanged}}
          <option value="1">{{localize "HI.dialog.pointblank"}}</option>
          <option value="0">{{localize "HI.dialog.close"}}</option>
          <option value="-1">{{localize "HI.dialog.medium"}}</option>
          <option value="-2">{{localize "HI.dialog.long"}}</option>
          <option value="-4">{{localize "HI.dialog.distant"}}</option>
          <option value="-6">{{localize "HI.dialog.extreme"}}</option>
          <option value="-8">{{localize "HI.dialog.utmost"}}</option>
        {{/select}}
      </select>
    </div>
  </div>
{{/if}}

<div class="flexrow roll-box hide" id="armor-agi-malus">
  <div class="flex1 center bg-darkred">
    <label for="mod">{{localize "HI.ui.armorAgiMalus"}}</label>
  </div>
  <div class="flex1 center cell">
    <label>{{armorAgiMalus}}</label>
  </div>
</div>

<div class="flexrow roll-box hide" id="armor-init-malus">
  <div class="flex1 center bg-darkred">
    <label for="mod">{{localize "HI.ui.armorInitMalus"}}</label>
  </div>
  <div class="flex1 center cell">
    <label>{{armorInitMalus}}</label>
  </div>
</div>

<div class="flexrow roll-box">
  <div class="flex1 center bg-darkred">
    <label for="mod">{{localize "HI.ui.modifiers"}}</label>
  </div>
  <div class="flex1 center cell">
    <select name="mod" id="mod" value="{{mod}}">
      {{#select mod}}
        <option value="4">{{localize "HI.dialog.soeasy"}}</option>
        <option value="2">{{localize "HI.dialog.veryeasy"}}</option>
        <option value="1">{{localize "HI.dialog.easy"}}</option>
        <option value="0">{{localize "HI.dialog.moderate"}}</option>
        <option value="-1">{{localize "HI.dialog.hard"}}</option>
        <option value="-2">{{localize "HI.dialog.tough"}}</option>
        <option value="-4">{{localize "HI.dialog.demanding"}}</option>
        <option value="-6">{{localize "HI.dialog.formidable"}}</option>
        <option value="-8">{{localize "HI.dialog.heroic"}}</option>
        <option value="-10">{{localize "HI.dialog.mythic"}}</option>
        <option value="-12">{{localize "HI.dialog.divine"}}</option>
      {{/select}}
    </select>
  </div>
</div>